# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
media/
staticfiles/

# Env
.env
.venv/
venv/

# IDEs
.vscode/
.idea/

# Node
node_modules/

# Frontend build
frontend/dist/

# Docker
docker-compose.override.yml

# Misc
.DS_Store